RuntimeError: CPU dispatcher tracer already initlized

In [7]:
# TAMANHO DA TELA 80
import time
import pyautogui
import clipboard    
import random
import pandas as pd
import numpy as np
import datetime

# Uso Oficial
lista_clientes = pd.read_excel('Relacionamento.xlsx')
display(lista_clientes)
num_linhas = len(lista_clientes)

xmes = 446


ano_atual = datetime.datetime.now().year
# Mês que estamos hoje, vamos enviar a carteira do mês passado
mes_atual = datetime.datetime.now().month


# Mes que representa o envio da carteira
mes_passado = mes_atual - 1

if mes_passado == 1:
    mes = f'jan {ano_atual}'
    mes_envio = 1
    ymes = 368


if mes_passado == 2:
    mes = f'fev {ano_atual}'
    ymes = 415


if mes_passado == 3:
    mes = f'mar {ano_atual}'
    ymes = 462

if mes_passado== 4:
    mes = f'abr {ano_atual}'
    ymes = 515

if mes_passado == 5:
    mes = f'mai {ano_atual}'
    ymes = 560

if mes_passado == 6:
    mes = f'jun {ano_atual}'
    ymes = 610

if mes_passado == 7:
    mes = f'jul {ano_atual}'
    ymes = 661

if mes_passado == 8:
    mes = f'ago {ano_atual}'
    ymes = 708

if mes_passado == 9:
    mes = f'set {ano_atual}'
    ymes = 757

if mes_passado == 10:
    mes = f'out {ano_atual}'
    ymes = 807

if mes_passado== 11:
    mes = f'nov {ano_atual}'
    ymes = 852

if mes_atual == 1:

    mes = f'dez {ano_atual - 1}'
    ymes = 901

print(mes)

mesatual = mes


posicao = 0
vetor_rent = []
vetor_lucro = []

    

for i in range(num_linhas):
#for i in range(1):   
    codigo = lista_clientes.iloc[posicao,0]
    #print(codigo)

    


    time.sleep(1.9)
    #selecionar barra hub   
    pyautogui.tripleClick(x=231, y=173)
    time.sleep(1)
    #limpar barra hub
    pyautogui.hotkey('delete')
  
    #colar codigo do cliente
    pyautogui.write(str(codigo))


    #selecionar perfil do cliente no hub
    time.sleep(5)
    pyautogui.click(x=179, y=245)
    time.sleep(.3)
    pyautogui.scroll(+2150)

    #selecionar patrimonio
    time.sleep(5)
    pyautogui.click(x=750, y=227)
    time.sleep(.3)
    pyautogui.scroll(+2150)

    # Colocar uma confirmação do código do cliente para verificar que carregou a pagina

    #descer a tela
    time.sleep(5)
    
    pyautogui.scroll(-1422)
     
    time.sleep(1)


    if mes_atual == 1:
                    pyautogui.click(x=1359, y=246)
                    time.sleep(3)
                    pyautogui.click(x=1309, y=310)
                    time.sleep(3)



    #clicar no mês:
    pyautogui.tripleClick(xmes, ymes)
    time.sleep(1)
    pyautogui.mouseDown()
    time.sleep(.3)
    pyautogui.moveTo(x=657, y=81)
    pyautogui.moveTo(x=657, y=87)
    time.sleep(.3)
    pyautogui.mouseUp()
    time.sleep(.3)
    pyautogui.hotkey('ctrl','c')
    mes = clipboard.paste()
    print(mes)


    falha = 0    
    while not mes == mesatual :
        pyautogui.hotkey('F5')
        time.sleep(10)
        #click no nada para entrar na pagina
        pyautogui.click(x=1813, y=333)
        time.sleep(2)
        pyautogui.scroll(+3000)
        time.sleep(2)
        pyautogui.scroll(-1422)
        time.sleep(2)

        if mes_atual == 1:
            pyautogui.click(x=1359, y=246)
            time.sleep(3)
            pyautogui.click(x=1813, y=333)
            time.sleep(3)

            #clicar no mês:
        pyautogui.tripleClick(xmes, ymes)
        time.sleep(1)
        pyautogui.mouseDown()
        time.sleep(.3)
        pyautogui.moveTo(x=657, y=81)
        pyautogui.moveTo(x=657, y=87)
        time.sleep(.3)
        pyautogui.mouseUp()
        time.sleep(.3)
        pyautogui.hotkey('ctrl','c')
        mes = clipboard.paste()
        print(mes)
        falha = falha+1
        if falha > 1:
            time.sleep(1.9)
            pyautogui.click(x=42, y=181)
            time.sleep(3)
            pyautogui.click(x=42, y=181)
            #selecionar barra hub   
            pyautogui.tripleClick(x=231, y=173)
            time.sleep(1)
            #limpar barra hub
            pyautogui.hotkey('delete')
        
            #colar codigo do cliente
            pyautogui.write(str(codigo))


            #selecionar perfil do cliente no hub
            time.sleep(5)
            pyautogui.click(x=172, y=228)   
            time.sleep(2)
            pyautogui.scroll(+2150)

                #selecionar patrimonio
            time.sleep(5)
            pyautogui.click(x=703, y=242)

            # Colocar uma confirmação do código do cliente para verificar que carregou a pagina

            #descer a tela
            time.sleep(5)
            pyautogui.scroll(+2150)
            pyautogui.scroll(-1422)
            
            time.sleep(1)

            

            #clicar no mês:
            pyautogui.tripleClick(xmes, ymes)
            time.sleep(1)
            pyautogui.mouseDown()
            time.sleep(.3)
            pyautogui.moveTo(x=657, y=81)
            pyautogui.moveTo(x=657, y=87)
            time.sleep(.3)
            pyautogui.mouseUp()
            time.sleep(.3)
            time.sleep(.3)
            pyautogui.hotkey('ctrl','c')
            mes = clipboard.paste()
            print(mes)




    




     

        #pegar a variação patrimonial
    pyautogui.tripleClick(x=1097, y=ymes)
    time.sleep(1)
    pyautogui.hotkey('ctrl','c')
    lucro = clipboard.paste()
    
    #clicar na porcentagem da rentabilidade
    pyautogui.tripleClick(x=1226, y=ymes)
    time.sleep(1)
    pyautogui.hotkey('ctrl','c')
    rentabilidade = clipboard.paste()
    vetor_rent.append(rentabilidade)


            #pegar a % do cdi
    pyautogui.tripleClick(x=1375, y=ymes)
    time.sleep(1)
    pyautogui.hotkey('ctrl','c')
    cdi = clipboard.paste()    

    lista_clientes.loc[lista_clientes.iloc[posicao].name, 'rentabilidade'] = rentabilidade
    lista_clientes.loc[lista_clientes.iloc[posicao].name, 'lucro'] = lucro
    lista_clientes.loc[lista_clientes.iloc[posicao].name, 'cdi'] = cdi

    print(f"O lucro do cliente {codigo} foi de {lucro} e a rentabilidade de {rentabilidade}")
    #vetor_lucro.append(lucro)

    

    
  



    posicao = posicao + 1

    lista_clientes.to_excel('Relacionamento.xlsx', index=False)

    """ 
    # RENTABILIDADE ANUAL


            #pegar a variação patrimonial
    pyautogui.tripleClick(x=1087, y=953)
    time.sleep(1)
    pyautogui.hotkey('ctrl','c')
    lucroano = clipboard.paste()
    
    #clicar na porcentagem da rentabilidade
    pyautogui.tripleClick(x=1224, y=951)
    time.sleep(1)
    pyautogui.hotkey('ctrl','c')
    rentabilidadeano = clipboard.paste()
   


            #pegar a % do cdi
    pyautogui.tripleClick(x=1375, y=952)
    time.sleep(1)
    pyautogui.hotkey('ctrl','c')
    cdiano = clipboard.paste()    

    lista_clientes.loc[lista_clientes.iloc[posicao].name, 'rentabilidadeano'] = rentabilidadeano
    lista_clientes.loc[lista_clientes.iloc[posicao].name, 'lucroano'] = lucroano
    lista_clientes.loc[lista_clientes.iloc[posicao].name, 'cdiano'] = cdiano
"""

RuntimeError: CPU dispatcher tracer already initlized

In [1]:
import pandas as pd
import numpy as np

df = pd.read_excel('Pronto_Envio_Abril_2025.xlsx')

def highlight_duplicates(val):
    if df.isin([val]).sum().sum() > 1:  # Verifica se o valor aparece mais de uma vez
        return 'background-color: yellow'
    return ''

# Aplicando estilos ao DataFrame
styled_df = df.style.applymap(highlight_duplicates)

# Exibindo o DataFrame estilizado
styled_df

C:\Users\renan\AppData\Local\Temp\ipykernel_41692\3752007033.py:12: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = df.style.applymap(highlight_duplicates)